{:deps {org.clojure/clojure {:mvn/version "1.12.4"}}
 :paths ["source" "resources"]

 :aliases {:run {:main-opts ["-m" "entrypoint"]}
           :repl {:main-opts ["-m" "nrepl.cmdline" "--color" "--interactive"]
                  :extra-deps {nrepl/nrepl {:mvn/version "1.6.0"}}}
           :build {:deps {io.github.clojure/tools.build {:mvn/version "0.10.13"}}
                   :ns-default build}}}
