{:paths ["source"]
 :deps {org.clojure/clojure {:mvn/version "1.12.3"}}

 :aliases {:run {:main-opts ["-m" "core"]}
           :build {:deps {io.github.clojure/tools.build {:mvn/version "0.10.11"}}
                   :ns-default build}}}
