{:paths ["source"]
 :deps {org.clojure/clojure {:mvn/version "1.12.3"}}

 :aliases {:build {:deps {io.github.clojure/tools.build {:git/tag "v0.10.11" :git/sha "c6c670a"}}
                   :ns-default build}}}
